apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: managed-node-metadata-operator
  namespace: openshift-managed-node-metadata-operator
roleRef:
  kind: Role
  name: managed-node-metadata-operator
subjects:
- kind: ServiceAccount
  name: managed-node-metadata-operator
  namespace: openshift-managed-node-metadata-operator